.congratulations {
    position: relative;
    text-align: center;
    font-size: 2em;
    color:#00ff3c;
    animation: popup 2s ease-out, fadeInOut 5s ease-in-out;
    z-index: 1;
  }
  
  @keyframes popup {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .pyro > .before,
  .pyro > .after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 16px -391.6666666667px #00ff09, -237px -223.6666666667px #ff00bf, -5px -264.6666666667px #ff00ae, 233px -194.6666666667px #0044ff, -5px -23.6666666667px #15ff00, 99px -384.6666666667px #ff00d0, -244px -20.6666666667px #2bff00, -140px -304.6666666667px #ffae00, 178px -355.6666666667px #ff2b00, -159px -118.6666666667px #f7ff00, 99px -257.6666666667px #1500ff, 216px -203.6666666667px #ff00ee, 182px -353.6666666667px #ff004d, -46px -128.6666666667px fuchsia, 154px -149.6666666667px #9900ff, 94px -360.6666666667px #005eff, -149px -58.6666666667px #00ff73, 247px -230.6666666667px #ff4000, -41px -264.6666666667px #00eeff, -157px -181.6666666667px #ff006f, 132px 34.3333333333px #00ff77, 173px -353.6666666667px #00ff48, 156px -161.6666666667px #ff009d, 101px -25.6666666667px #ffd900, -57px -250.6666666667px #5900ff, 184px -372.6666666667px #fb00ff, 159px -252.6666666667px #0400ff, -232px -317.6666666667px #0073ff, -86px -364.6666666667px #bf00ff, 59px -171.6666666667px #ff0084, -207px -8.6666666667px #00ff8c, -127px 58.3333333333px #ff006f, -13px -68.6666666667px #ff0040, -94px -407.6666666667px #0d00ff, -1px -289.6666666667px #00d5ff, 65px -276.6666666667px #4800ff, 217px -9.6666666667px #59ff00, 140px 47.3333333333px #00ff3c, -190px -93.6666666667px #9100ff, 142px -22.6666666667px #005eff, -7px 3.3333333333px #51ff00, 231px -39.6666666667px #ff002b, -80px -321.6666666667px #f200ff, 98px 20.3333333333px #00ffc8, 47px -48.6666666667px #09ff00, 181px -295.6666666667px #0dff00, -125px -150.6666666667px #ff00a6, -243px -378.6666666667px #ea00ff, -60px 40.3333333333px #ff00b3, 99px 62.3333333333px #ff006f, -40px -404.6666666667px #6fff00;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 16px -391.6666666667px #00ff09, -237px -223.6666666667px #ff00bf, -5px -264.6666666667px #ff00ae, 233px -194.6666666667px #0044ff, -5px -23.6666666667px #15ff00, 99px -384.6666666667px #ff00d0, -244px -20.6666666667px #2bff00, -140px -304.6666666667px #ffae00, 178px -355.6666666667px #ff2b00, -159px -118.6666666667px #f7ff00, 99px -257.6666666667px #1500ff, 216px -203.6666666667px #ff00ee, 182px -353.6666666667px #ff004d, -46px -128.6666666667px fuchsia, 154px -149.6666666667px #9900ff, 94px -360.6666666667px #005eff, -149px -58.6666666667px #00ff73, 247px -230.6666666667px #ff4000, -41px -264.6666666667px #00eeff, -157px -181.6666666667px #ff006f, 132px 34.3333333333px #00ff77, 173px -353.6666666667px #00ff48, 156px -161.6666666667px #ff009d, 101px -25.6666666667px #ffd900, -57px -250.6666666667px #5900ff, 184px -372.6666666667px #fb00ff, 159px -252.6666666667px #0400ff, -232px -317.6666666667px #0073ff, -86px -364.6666666667px #bf00ff, 59px -171.6666666667px #ff0084, -207px -8.6666666667px #00ff8c, -127px 58.3333333333px #ff006f, -13px -68.6666666667px #ff0040, -94px -407.6666666667px #0d00ff, -1px -289.6666666667px #00d5ff, 65px -276.6666666667px #4800ff, 217px -9.6666666667px #59ff00, 140px 47.3333333333px #00ff3c, -190px -93.6666666667px #9100ff, 142px -22.6666666667px #005eff, -7px 3.3333333333px #51ff00, 231px -39.6666666667px #ff002b, -80px -321.6666666667px #f200ff, 98px 20.3333333333px #00ffc8, 47px -48.6666666667px #09ff00, 181px -295.6666666667px #0dff00, -125px -150.6666666667px #ff00a6, -243px -378.6666666667px #ea00ff, -60px 40.3333333333px #ff00b3, 99px 62.3333333333px #ff006f, -40px -404.6666666667px #6fff00;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 16px -391.6666666667px #00ff09, -237px -223.6666666667px #ff00bf, -5px -264.6666666667px #ff00ae, 233px -194.6666666667px #0044ff, -5px -23.6666666667px #15ff00, 99px -384.6666666667px #ff00d0, -244px -20.6666666667px #2bff00, -140px -304.6666666667px #ffae00, 178px -355.6666666667px #ff2b00, -159px -118.6666666667px #f7ff00, 99px -257.6666666667px #1500ff, 216px -203.6666666667px #ff00ee, 182px -353.6666666667px #ff004d, -46px -128.6666666667px fuchsia, 154px -149.6666666667px #9900ff, 94px -360.6666666667px #005eff, -149px -58.6666666667px #00ff73, 247px -230.6666666667px #ff4000, -41px -264.6666666667px #00eeff, -157px -181.6666666667px #ff006f, 132px 34.3333333333px #00ff77, 173px -353.6666666667px #00ff48, 156px -161.6666666667px #ff009d, 101px -25.6666666667px #ffd900, -57px -250.6666666667px #5900ff, 184px -372.6666666667px #fb00ff, 159px -252.6666666667px #0400ff, -232px -317.6666666667px #0073ff, -86px -364.6666666667px #bf00ff, 59px -171.6666666667px #ff0084, -207px -8.6666666667px #00ff8c, -127px 58.3333333333px #ff006f, -13px -68.6666666667px #ff0040, -94px -407.6666666667px #0d00ff, -1px -289.6666666667px #00d5ff, 65px -276.6666666667px #4800ff, 217px -9.6666666667px #59ff00, 140px 47.3333333333px #00ff3c, -190px -93.6666666667px #9100ff, 142px -22.6666666667px #005eff, -7px 3.3333333333px #51ff00, 231px -39.6666666667px #ff002b, -80px -321.6666666667px #f200ff, 98px 20.3333333333px #00ffc8, 47px -48.6666666667px #09ff00, 181px -295.6666666667px #0dff00, -125px -150.6666666667px #ff00a6, -243px -378.6666666667px #ea00ff, -60px 40.3333333333px #ff00b3, 99px 62.3333333333px #ff006f, -40px -404.6666666667px #6fff00;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 16px -391.6666666667px #00ff09, -237px -223.6666666667px #ff00bf, -5px -264.6666666667px #ff00ae, 233px -194.6666666667px #0044ff, -5px -23.6666666667px #15ff00, 99px -384.6666666667px #ff00d0, -244px -20.6666666667px #2bff00, -140px -304.6666666667px #ffae00, 178px -355.6666666667px #ff2b00, -159px -118.6666666667px #f7ff00, 99px -257.6666666667px #1500ff, 216px -203.6666666667px #ff00ee, 182px -353.6666666667px #ff004d, -46px -128.6666666667px fuchsia, 154px -149.6666666667px #9900ff, 94px -360.6666666667px #005eff, -149px -58.6666666667px #00ff73, 247px -230.6666666667px #ff4000, -41px -264.6666666667px #00eeff, -157px -181.6666666667px #ff006f, 132px 34.3333333333px #00ff77, 173px -353.6666666667px #00ff48, 156px -161.6666666667px #ff009d, 101px -25.6666666667px #ffd900, -57px -250.6666666667px #5900ff, 184px -372.6666666667px #fb00ff, 159px -252.6666666667px #0400ff, -232px -317.6666666667px #0073ff, -86px -364.6666666667px #bf00ff, 59px -171.6666666667px #ff0084, -207px -8.6666666667px #00ff8c, -127px 58.3333333333px #ff006f, -13px -68.6666666667px #ff0040, -94px -407.6666666667px #0d00ff, -1px -289.6666666667px #00d5ff, 65px -276.6666666667px #4800ff, 217px -9.6666666667px #59ff00, 140px 47.3333333333px #00ff3c, -190px -93.6666666667px #9100ff, 142px -22.6666666667px #005eff, -7px 3.3333333333px #51ff00, 231px -39.6666666667px #ff002b, -80px -321.6666666667px #f200ff, 98px 20.3333333333px #00ffc8, 47px -48.6666666667px #09ff00, 181px -295.6666666667px #0dff00, -125px -150.6666666667px #ff00a6, -243px -378.6666666667px #ea00ff, -60px 40.3333333333px #ff00b3, 99px 62.3333333333px #ff006f, -40px -404.6666666667px #6fff00;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 16px -391.6666666667px #00ff09, -237px -223.6666666667px #ff00bf, -5px -264.6666666667px #ff00ae, 233px -194.6666666667px #0044ff, -5px -23.6666666667px #15ff00, 99px -384.6666666667px #ff00d0, -244px -20.6666666667px #2bff00, -140px -304.6666666667px #ffae00, 178px -355.6666666667px #ff2b00, -159px -118.6666666667px #f7ff00, 99px -257.6666666667px #1500ff, 216px -203.6666666667px #ff00ee, 182px -353.6666666667px #ff004d, -46px -128.6666666667px fuchsia, 154px -149.6666666667px #9900ff, 94px -360.6666666667px #005eff, -149px -58.6666666667px #00ff73, 247px -230.6666666667px #ff4000, -41px -264.6666666667px #00eeff, -157px -181.6666666667px #ff006f, 132px 34.3333333333px #00ff77, 173px -353.6666666667px #00ff48, 156px -161.6666666667px #ff009d, 101px -25.6666666667px #ffd900, -57px -250.6666666667px #5900ff, 184px -372.6666666667px #fb00ff, 159px -252.6666666667px #0400ff, -232px -317.6666666667px #0073ff, -86px -364.6666666667px #bf00ff, 59px -171.6666666667px #ff0084, -207px -8.6666666667px #00ff8c, -127px 58.3333333333px #ff006f, -13px -68.6666666667px #ff0040, -94px -407.6666666667px #0d00ff, -1px -289.6666666667px #00d5ff, 65px -276.6666666667px #4800ff, 217px -9.6666666667px #59ff00, 140px 47.3333333333px #00ff3c, -190px -93.6666666667px #9100ff, 142px -22.6666666667px #005eff, -7px 3.3333333333px #51ff00, 231px -39.6666666667px #ff002b, -80px -321.6666666667px #f200ff, 98px 20.3333333333px #00ffc8, 47px -48.6666666667px #09ff00, 181px -295.6666666667px #0dff00, -125px -150.6666666667px #ff00a6, -243px -378.6666666667px #ea00ff, -60px 40.3333333333px #ff00b3, 99px 62.3333333333px #ff006f, -40px -404.6666666667px #6fff00;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  