#appFox{
    text-align: center;
    user-select: none;
}

.titleFox{
    user-select: none;
    font-family: "Bradley Hand", cursive;
    font-size : 2.5em;
    margin-bottom: 10px;
}

.gridFox {
    display: grid;
    grid-template-columns: repeat(10, var(--cell-fox-size));
    gap: var(--gap-fox-size);
    justify-content: center;
    user-select: none;
    margin: 0 auto;
    width: var(--grid-fox-width);
    overflow: hidden;
}

.cellFox {
    font-size: 2em;
    position: relative;
    width: var(--cell-fox-size);
    height: var(--cell-fox-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color:rgb(255, 209, 93);
    border-radius: 1px;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.cellFox.withFox::after {
    content: "";
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: rgb(245, 40, 119); /* Основной цвет фона */
    border-radius: 50%; /* Закругление до круга */
    
    /* Градиент для придания объема */
    background: radial-gradient(circle at 50% 50%, rgb(128, 0, 0), rgb(245, 40, 119));
    
    /* Тень для эффекта углубления */
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5),
                inset 0 -4px 10px rgba(0, 0, 0, 0.3);
    
    /* Внешняя граница */
    border: 4px solid #5c2d1a; /* Темная граница для создания ощущения края */
    
    /* Дополнительные стили для позиционирования */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.cellFox:active {
    transform: translateY(1px); 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
}

.fox-sprite-forward {   
    width: var(--cell-fox-size);
    height: var(--cell-fox-size);
    background: url('@/assets/run_fox_frame.png') no-repeat;
    background-size: calc(var(--cell-fox-size)*6) auto;
    animation: play-fox-sprite 0.5s steps(6) infinite, move-fox-sprite-forward 2s linear forwards;
    z-index: 100;
}

@keyframes play-fox-sprite {
    from {
        background-position: 0;
    }
    to {
        background-position: calc(-1 * var(--cell-fox-size) * 6) 0;
    }
}
@keyframes move-fox-sprite-forward {
    0% { transform: translateX(0); opacity: 1;}
    90% { transform: translateX(200px); opacity: 1;}
    100% { transform: translateX(250px); opacity: 0; z-index: -1; }
}

.fox-sprite-reverse {
    width: var(--cell-fox-size);
    height: var(--cell-fox-size);
    background: url('@/assets/run_fox_frame-reverse.png') no-repeat;
    background-size: calc(var(--cell-fox-size)*6) auto;
    animation: play-fox-sprite 0.5s steps(6) infinite, move-fox-sprite-reverse 2s linear forwards;
    z-index: 10;
}

/* Reverse move animation */
@keyframes move-fox-sprite-reverse {
    0% { transform: translateX(0); opacity: 1; }
    90% { transform: translateX(-200px); opacity: 1; }
    100% { transform: translateX(-250px); opacity: 0; z-index: -1;}
}

.rowOfIcon {
    margin-top:10px;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
}

.rowOfIcon img {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.grayscale {
    filter: grayscale(100%);
    opacity: 0.3;
}

.start-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: 800;
    cursor: pointer;
    width: 100%;
    max-width: var(--grid-fox-width);
    background: linear-gradient(to bottom, #23c79c, #fff323); 
    border-radius: 25px;
    user-select: none;
}

.papirus-cursive{
    font-family:'Papyrus',    
    /*,cursive*/
}

.findBlink {
    animation: blink 0.4s ease-in-out; 
}
@keyframes blink {
    0%,100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}